.navbar {
    background-color: #6E27B1;
}

.navbar .nav-link {
    color: white;
    font-weight: bold;
}

.div_headname {
    position: relative;
    display: inline;
    color: #7F4AB2;
    font-size: 20px;
    font-weight: bold;
}

.div_newpost {
    float: right;
    position: relative;
    display: inline;
}

.div_newpost .newpost {
    background-color: #6E27B1;
    color: #ffffff;
    border-radius: 22px;
    padding: 5px 15px 5px 5px;
    border: 0px;
}

.div_newpost .newpost:hover {
    background-color: #6e27b1e3;
}

.forum_name {
    font-size: 16px;
    font-weight: bold;
}

.forum_sub_title {
    font-size: 14px;
    font-weight: 100;
    color: #919191;
    cursor: pointer;
}

.forum_sub_title img {
    margin-top: -3px;
    background-color: #ff00000f;
    padding: 2px;
    border-radius: 6px;
    margin-left: 1px;
}

.forum_sub_head_detail {
    font-size: 25px;
    color: #7F4AB2;
}

.forum_sub_date_detail {
    padding-bottom: 7px;
    margin-top: -5px;
    color: #999999;
    font-size: 12px;
    border-bottom: 1px solid #cccccc5c;
}

.forum_sub_title_detail {
    margin-top: 30px;
    font-weight: bold;
}

.boxlite_head {
    padding: 5px;
    border-bottom: 2px solid #cccccc;
    border-radius: 3px;
    margin-top: 20px;
}

.boxlite_detail {
    padding: 5px;
    border-top: 1px solid #cccccc;
    margin-bottom: 5px;
    border-radius: 3px;
}


/********************** reply comment post ************************/

.reply_comment {
    position: absolute;
    padding: 15px 30px 15px 15px;
    text-align: right;
    background-color: #F7F6FF;
    right: 43px;
    bottom: -29px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 32px;
}

.reply_comment .reply {
    display: inline;
    position: relative;
    padding: 7px 5px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 3px;
    color: #7F4AB2;
    font-weight: bold;
    border-left: 1px solid #cccccc;
}

.reply_comment .reply:hover {
    background-color: #cccccc;
}

.reply_comment .view {
    display: inline;
    position: relative;
    padding: 0 5px;
    font-size: 15px;
    color: #7F4AB2;
    font-weight: bold;
}

.reply_comment_post {
    position: relative;
    padding: 0px 30px 15px 15px;
    text-align: right;
}

.reply_comment_post .reply {
    display: inline;
    position: relative;
    padding: 4px 5px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 3px;
    color: #7F4AB2;
    font-weight: bold;
}

.reply_comment_post .reply:hover {
    background-color: #cccccc;
}

.reply_comment_post .view {
    display: inline;
    position: relative;
    padding: 0 5px;
    font-size: 15px;
    color: #8b8585;
    opacity: 0.5;
}

.footer {
    position: relative;
    background: linear-gradient(0deg, rgba(37, 20, 48, 1) 3%, rgb(105 56 136) 6%, rgb(63 21 90) 94%, rgba(37, 20, 48, 1) 99%);
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}

.footer .list {
    position: relative;
    display: inline;
    font-size: 20px;
    color: #cccccc;
    padding: 0 10px;
}

.div_newroom {
    text-align: right;
}

.div_newroom button {
    border: 0px solid;
    background-color: #6E27B1;
    padding: 2px;
    border-radius: 7px 10px;
    color: #ffffff;
}


/************************ bg-color ***************/

.border-head {
    border-top: 0px solid #ffffff6e;
}

.profile {
    position: relative;
    align-items: center;
    padding: 10px 49px;
}

.reply_comment_post .viewcomment {
    display: inline;
    position: relative;
    font-size: 15px;
    color: #7F4AB2;
    font-weight: bold;
    cursor: pointer;
    padding: 3px;
    background-color: #cccccc;
    border-radius: 5px;
}

.reply_comment_post .deletecomment {
    display: inline;
    position: relative;
    font-size: 15px;
    color: red;
    font-weight: bold;
    cursor: pointer;
    padding: 3px;
    background-color: #cccccc;
    border-radius: 5px;
}

.reply_comment_post .deletecomment:hover {
    background-color: #ffd1d1;
}

.reply_comment_post .viewcomment:hover {
    background-color: #ffd1d1;
}

.null {
    display: none;
}

.profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    display: inline;
    margin-right: 5px;
}

.profile .profile_name {
    font-size: 20px;
    font-weight: bold;
    position: relative;
    display: inline;
    color: #7F4AB2;
}

.showpost {
    box-shadow: 0px 3px 10px #00000029;
    border-radius: 3px;
}

th {
    color: #7F4AB2;
    text-transform: capitalize;
    font-weight: 100;
    background-color: #f7f7f7;
}

td {
    color: #7F4AB2;
    font-size: 15px;
    font-weight: bold;
}

.modal-title {
    color: #7F4AB2;
    font-size: 16px;
    font-weight: bold;
}

.col-form-label {
    color: #7F4AB2;
    font-weight: bold;
}

.btn-createpost {
    color: #fff;
    background-color: #6E27B1;
    border-color: #6E27B1;
    border-radius: 30px;
    padding: 5px 25px;
}

.btn-cencelpost {
    color: #000;
    background-color: #6e27b100;
    border-color: #6E27B1;
    border-radius: 30px;
    padding: 5px 25px;
}

.table {
    width: 100%;
    margin-bottom: 0px !important;
    color: #212529;
}


/* main */

.border-seilecroom {
    border: 0.1px solid #00000012;
    transition: 0.2s;
}

.border-seilecroom:hover {
    background-color: #cccccc;
}

.border-seilecroom a {
    color: #3D3D3D;
}

.selectroom {
    padding: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    font-size: 18px;
}

.selectroom a {
    color: #3D3D3D;
}

.selectroom img {
    width: 23px;
    height: 23px;
    margin-right: 5px;
}

.head_loom {
    background-color: #6E27B1;
    border-radius: 5px 5px 0 0;
    padding: 10px 19px;
}

.head_loom .headtext {
    color: white;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.head_loom .headtext img {
    width: 23px;
    height: 23px;
    margin-right: 5px;
}

.cc {}

.headtablemain {
    width: 100%;
    padding: 0px 30px;
    background-color: #F7F7F7;
    border-bottom: 2px solid #e7e7e7;
}

.headtable {
    width: 100%;
}

.tablefooter {
    width: 100%;
    padding: 10px 50px 20px 50px;
}

.tablefooter .viewall {
    text-align: right;
    color: #7F4AB2;
    font-weight: bold;
}

.tablefooter a {
    text-decoration: underline;
}

.editadmin,
.deleteadmin {
    cursor: pointer;
}

.my-active span {
    color: #ffffff !important;
    background-color: #6E27B1 !important;
    padding: 5px 10px;
}

.pager li {
    margin-left: 2px;
    margin-right: 2px;
}

.notshow {
    display: none;
}

.showpostmain {
    box-shadow: 0px 3px 10px #0000002b;
    margin-bottom: 30px;
    border-radius: 5px;
}

.div_loadmore {
    padding: 0 33px;
}

.owl-carousel .item {
    height: 10rem;
    background: #4DC7A0;
    padding: 1rem;
}

.owl-carousel .item h4 {
    color: #FFF;
    font-weight: 400;
    margin-top: 0rem;
}

.item {
    font-size: 15px;
    font-weight: 600;
}

.item .text {
    padding: 10px 10px;
}

.owl-carousel .item img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.owl-carousel .item {
    height: 15rem !important;
    padding: 0px !important;
    border-radius: 5px;
    background: #FFFFFF;
    box-shadow: 0px 3px 6px #00000029;
}

.bgnew {
    box-shadow: 0px 3px 10px #0000002b;
    border-radius: 5px;
    background-color: #00000029;
}

.medium_viewall {
    text-align: center;
    padding-bottom: 20px;
    font-weight: 600;
    color: #7F4AB2;
}

.selectroomhead {
    padding: 15px 0;
    color: #00000085;
}


/* slider */

.owl-dots {
    display: none;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
    font-size: 100px !important;
    position: absolute;
    margin-top: -211px;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot span {
    color: #c7c6c6 !important;
}

.owl-carousel .owl-nav button.owl-next {
    right: 0px;
}

.owl-carousel .owl-nav button.owl-prev {
    left: 0px;
}

.owl-carousel .owl-nav button.owl-next:hover {
    background-color: unset !important;
}

.owl-carousel .owl-nav button.owl-prev:hover {
    background-color: unset !important;
}

.mobileselect {
    display: none;
}

.mobileselect button {
    background-color: #6E27B1;
}

.mobileselect button:hover {
    background-color: #6E27B1;
}

.mobileselect button:focus {
    background-color: #6E27B1;
}

.mobileselect img {
    width: 20px;
    height: 20px;
}

.mobileselect a:hover {
    background-color: #844cb982;
}

@media only screen and (max-width:990px) {
    .selectroom {
        padding: 10px 10px;
        font-size: 14px;
    }
    .owl-carousel .item {
        height: 17rem !important;
    }
    .owl-carousel .owl-nav button.owl-next,
    .owl-carousel .owl-nav button.owl-prev,
    .owl-carousel button.owl-dot span {
        color: #c7c6c6 !important;
    }
    .owl-carousel .owl-nav button.owl-next,
    .owl-carousel .owl-nav button.owl-prev,
    .owl-carousel button.owl-dot {
        font-size: 83px !important;
        position: absolute;
        margin-top: -211px;
    }
}

@media only screen and (max-width:774px) {
    .postdate {
        display: none;
    }
    .selectroom {
        padding: 12px;
        font-weight: bold;
        display: block;
        text-align: center;
        font-size: 18px;
    }
    .selectroom img {
        width: 23px;
        height: 23px;
    }
    .selectroom .text {
        font-size: 12px;
    }
    .pl-5 {
        padding-left: 1rem !important;
    }
    .tablefooter {
        padding: 10px 10px 20px 10px;
    }
    .tablefooter {
        font-size: 12px;
    }
}

@media only screen and (max-width:700px) {
    .selectroom {
        padding: 10px 5px;
        font-size: 14px;
    }
    .owl-carousel .item {
        height: 14rem !important;
    }
}

@media only screen and (max-width: 600px) {
    .postdate {
        display: none;
    }
    .pl-5 {
        padding-left: 1rem !important;
    }
    .head_loom {
        padding: 10px 10px;
    }
    .tablefooter {
        padding: 10px 16px 20px 50px;
    }
    .div_headname {
        font-size: 17px;
    }
    .div_newpost .newpost {
        background-color: #6E27B1;
        color: #ffffff;
        border-radius: 22px;
        padding: 5px 9px 5px 5px;
        border: 0px;
        font-size: 11px;
        display: flex;
        align-items: center;
    }
    .div_newpost .newpost img {
        margin-right: 5px;
        width: 23px;
    }
    .navbar-brand img {
        width: 180px;
    }
}

@media only screen and (max-width:480px) {
    .selectroom {
        padding: 10px 5px;
        font-size: 14px;
    }
    .owl-carousel .item {
        height: 18rem !important;
    }
    .owl-carousel .owl-nav button.owl-next,
    .owl-carousel .owl-nav button.owl-prev,
    .owl-carousel button.owl-dot {
        font-size: 70px !important;
        position: absolute;
        margin-top: -230px;
    }
}